.selectR {
  display: inline-block;
  padding: 0.2em 1.5em;
  line-height: 1;
  cursor: pointer;
  border-radius: 30px;
  color: #ffffff;
  border: 0.3rem solid #a5a7f6;
  background-color: #494ce8;
}
.optionsR {
  display: inline-block;
  padding: 0.2em 1.5em;
  line-height: 1;
  cursor: pointer;
  border-radius: 15px;
  border: thick double gray;
}
